@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #504CB9;
  --primary-100: #9591f0;
  --secondary: #ffb991;
  --accent-blue: #3d4ecc;
  --accent-green: #4CB983;
  --accent-red: #ba1e1e;
  --accent-yellow: #b9b74c;
  --black: #1e1e1e;
  --text-half-opacity: #1e1e1e83;
  --white: #ffffff;
  --dark-blue: #282887;
  --dark-green: #1f6d45;
  --dark-red: #851010;
  --dark-yellow: #73721e;
}

.remove-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  border-radius: 0px;
}

.remove-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.remove-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0px;
}

.remove-scrollbar::-webkit-scrollbar-thumb:hover {
  background: transparent;
}


.h1{
  @apply text-white dark:text-white text-[48px] leading-[60px] font-bold;
}

.body-1{
  @apply text-white dark:text-white text-[16px];
}

.auth-form {
  @apply flex max-h-[800px] w-full max-w-[580px] flex-col justify-center space-y-4 transition-all lg:h-full lg:space-y-2 !important;
}

.form-title{
  @apply text-black dark:text-white text-[36px] font-bold mb-8;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


.page-container-css {
  @apply mx-auto pb-12 sm:mb-4 xs:mb-8 h-full flex w-full sm:max-w-7xl md:max-w-7xl lg:max-w-[80vw] xl:max-w-[80vw] flex-col items-start justify-start gap-8 !important;
}
